.password-reset-container {
  font-family: Arial, sans-serif;
  background-color: #fff;
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  color: #333;
}

.icon-container .circle {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 5px solid;
  border-image: linear-gradient(45deg, #f7971e, #29abe2) 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container .checkmark {
  font-size: 50px;
  color: green;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

a {
  color: #3366cc;
  text-decoration: underline;
}

.footer {
  margin-top: 50px;
  color: #666;
  font-size: 14px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.block {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.teal {
  background-color: #00bcd4;
}

.purple {
  background-color: #673ab7;
}

.orange {
  background-color: #ff9800;
}

.logo-text {
  font-weight: bold;
  margin-left: 8px;
}

.four {
  color: #f44336;
}
